.site__nav {
    background: #fff;
    box-shadow: -0.559px 0.829px 10px 0px rgba(202, 210, 240, 0.3);
    border-bottom: 1px solid #ecedef;

    ul {
        list-style: none;
        display: flex;
    }
}